.newsLetter{
  width: 65%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 0px 140px;
  margin-bottom: 150px;
  background: linear-gradient(180deg, #fde1ff 0%, rgb(216, 255, 255) 60%);
  gap: 30px;
}
.newsLetter h1{
  color: black;
  font-size: 55px;
  font-weight: 600;
}
.newsLetter p{
  color: black;
  font-size: 20px;
}
.newsLetter div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  width: 730px;
  height: 70px;
  border-radius: 80px;
  border: 1px solid white;
}
.newsLetter input{
  width: 500px;
  margin-left: 30px;
  border: none;
  outline: none;
  color: grey;
  font-family: poppins;
  font-size: 16px;
}
.newsLetter div button{
  width: 210px;
  height: 70px;
  border-radius: 80px;
  background: black;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
@media(max-width:1280px){
  .newsLetter{
    padding: 0px 80px;
    margin-bottom: 120px;
    gap: 20px;
  }
  .newsLetter h1{
    font-size: 36px;
  }
  .newsLetter p{
    font-size: 16px;
  }
  .newsLetter div{
    width: 600px;
    height: 60px;
  }
  .newsLetter div input{
    width: 400px;
  }
  .newsLetter div button{
    width: 160px;
    height: 60px;
  }
}
@media(max-width:1024px){
  .newsLetter{
    margin-bottom: 30px;
    height: 35vh;
  }
  .newsLetter h1{
    font-size: 18px;
  }
  .newsLetter p{
    font-size: 12px;
  }
  .newsLetter div{
    width: 400px;
    height: 40px;
  }
  .newsLetter div input{
    width: 200px;
    font-size: 13px;
  }
  .newsLetter div button{
    width: 120px;
    height: 40px;
    font-size: 13px;
  }
}
@media(max-width:1024px){
  .newsLetter{
    margin-bottom: 30px;
    height: 35vh;
  }
  .newsLetter h1{
    font-size: 18px;
  }
  .newsLetter p{
    font-size: 12px;
  }
  .newsLetter div{
    width: 400px;
    height: 40px;
  }
  .newsLetter div input{
    width: 200px;
    font-size: 13px;
  }
  .newsLetter div button{
    width: 120px;
    height: 40px;
    font-size: 13px;
  }
}
@media(max-width:500px){
  .newsLetter{
    height: 25vh;
    width: 100%;
    padding: 0;
    gap: 15px;
  }
  .newsLetter h1{
    font-size: 16px;
  }
  .newsLetter p{
    font-size: 13px;
    max-width: 200px;
    text-align: center;
  }
  .newsLetter div{
    width: 290px;
  }
  .newsLetter div input{
    width: 130px;
  }
}
