# Node.js dependencies
node_modules/

# Local environment variables
.env

# Multer image uploads (these are dynamic files and should not be committed)
upload/images/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store

# IDE-specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Coverage reports (if you're using test coverage tools)
coverage/

# Build artifacts (if applicable)
dist/
build/
